<nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-md">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a routerLink="/" class="navbar-brand" href="#">Project Match</a>

      @if(!accountService.currentUser()) {
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/companies"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Companies</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/contact"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Contact</a
          >
        </li>
      </ul>
      <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex collapse"
        role="login"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          placeholder="username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          type="password"
          placeholder="password"
        />
        <button class="btn btn-success" type="submit">Login</button>
      </form>
      } @if(accountService.currentUser()){
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            routerLink="/projectssss"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Projects</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/companies"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Companies</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Chat</a
          >
        </li>
      </ul>
      <div dropdown class="dropdown">
        <button class="btn">
          <a
            dropdownToggle
            class="dropdown-toggle text-lite text-decoration-none"
            >Welcome {{ accountService.currentUser()?.username | titlecase }}</a
          >
        </button>

        <div *dropdownMenu class="dropdown-menu">
          <a href="" class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a href="" class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      }
    </div>
  </div>
</nav>
