.card:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card img {
  transform: scale(1, 1);
  transition-duration: 750ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.client-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .client-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}
